/***===  Table of Contents  

- Resets - link to 'normalize.css in 'index.html'

    1. Global Styles and Defaults
    2. Shell
    3. Layout
    4. Section-styles
===***/


/*** 1. Global styles and defaults ***/

    html {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }

    body {
        background: hsl(185, 75%, 39%);
        
        background-image: 
           url(../images/bg-pattern-top.svg),
           url(../images/bg-pattern-bottom.svg);
        background-position: right 50vw bottom 50vh, left 50vw top 50vh;
        background-repeat: no-repeat, no-repeat;
        overflow: hidden;
        font-size: 18px;
        font-family: 'Kumbh Sans', sans-serif;
    }
   



/*** 2. Shell ***/

    .card-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 450px;
        margin: 10% auto;
        background-color: white;
        box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2);
        border-radius: 16px;
        overflow: hidden;
    }


/*** 3. Layout ***/



.card-top {
    background-image: url(../images/bg-pattern-card.svg);
    width: 100%;
    height: 175px;
   
}

.profile-pic {
    height: 100px;
    width: 100px;
    background: white;
    border-radius: 50%;
    position: relative;
    transform: translate(175px, 125px);
}

.profile-pic img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 6px solid #FFF;
}

.card-bottom {
    margin-top: 10%;
    width: 100%;
}

.profile-info {
    text-align: center;   
    border-bottom:  solid 1px hsl(0, 0%, 59%, 0.3);
    padding-top: 3%;
    padding-bottom: 3%;
}

footer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}



/*** 4. Section-styles ***/

.age {
    color: hsl(0, 0%, 59%);
    font-weight: 600;
    padding-left: 5px;
}

.profile-info h4 {
    color: hsl(0, 0%, 59%);
    font-weight: 600;
    font-size: 16px;
}

footer p {
    color: hsl(0, 0%, 59%);
    font-size: 14px;
}

@media(max-width: 450px) {
    .profile-pic { 
        transform: translate(140%, 125px);
    }
}